@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.gradient-underline {
	text-decoration: underline;
	text-decoration-color: transparent;
	background: linear-gradient(to right, #3b82f6, #a855f7, #ec4899);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.gradient-underline::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px; /* Adjust the thickness */
	background: linear-gradient(to right, #3b82f6, #a855f7, #ec4899);
}
