@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.gradient-underline {
	text-decoration: underline;
	text-decoration-color: transparent;
	background: linear-gradient(to right, #60a5fa, #c084fc);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.gradient-underline::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px; /* Adjust the thickness */
	background: linear-gradient(to right, #60a5fa, #c084fc);
}

.h1-title {
	@apply text-5xl opacity-85 font-semibold text-white;
}

.gradient-button {
	@apply text-white 
	bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl 
	focus:ring-4 focus:outline-none focus:ring-blue-300 
	font-bold opacity-85
	dark:focus:ring-blue-800 
	px-8 py-3 
	text-center me-2 rounded-full
	hover:scale-105
	transition-all;
}

.standard-input {
	@apply bg-gray-50 border 
	border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 
	focus:border-primary-600 block w-full p-2.5 
	dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
	dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.standard-label {
	@apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.standard-button {
	@apply w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none 
	focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
	dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-primary-800;
}

.active {
	@apply text-white opacity-90;
}
